<div>
 <form action="/tasks/<%= @task.id %>" method="post" enctype="multipart/form-data">
 <div>
   <div>
    <input type="text" name="title" placeholder="タイトル" value = "<% @task.title %>"><br>
   </div>
   <div>
    <textarea name = "sentence" rows = "5" cols = "25" placeholder = "タイトル" value = "<% @task.sentence %>"></textarea>
   </div>
   	<img src = "<%= @task.img %>">
   <div>
    <input type="submit" value="登録">
   </div>
  </div>
 </form>
</div>