
<div>
 <form action="/tasks" method="post" enctype="multipart/form-data">
 <div>
   <div>
    <input type="text" name="title" placeholder="タイトル"><br>
   </div>
   <div>
    <textarea name = "sentence" rows = "5" cols = "25" placeholder = "タイトル"></textarea>
   </div>
    <p><input type = "file" name = "file"></p>
    <!--<div class="preview" />-->

   <div>
    <input type="submit" value="登録">
   </div>
  </div>
 </form>
</div>
